body {
    background-color: pink;
}

h1 {
    color:rgb(198,12,100);
    text-align: center;
    }
h2 {
    color:rgb(198,12,100);
    text-align: center;
    }
p1 {
    color:red;
    text-align: left;
   }
div {
    border: 2px solid black;
    height:428px;
    width: 598px;
    margin-top: 90px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 400px;
    background-color: pink;
}

p {
    color:black;
    text-align: left;
   }
header{
    padding-top:1.7em;
    padding-right:0px;
    padding-bottom:1.7em;
    padding-left:0px;
}