
body {
    background-color: pink;
}

h1 {
    color: red;
    text-align: center;
   }
   h2{color: black;
    text-align: center;
     }
   h3{color: black;
    text-align: right;
    }
p {
    font-family: Times new roman;
    font-size: 22px;
}
